.wrapper {
  background-color: var(--faded-red);
  border-radius: 8px;
  text-align: center;
  margin-top: 48px;
  padding: 32px;
}

.wrapper button {
  border-radius: 4px;
  margin: 0 4px;
}

.timers {
  display: flex;
  flex-direction: column;
}

@media (min-width: 425px) {
  .timers {
    flex-direction: row;
    justify-content: center;
  }
}

.timers button {
  background: transparent;
}

.timers .active {
  background-color: var(--rich-black);
  color: var(--white);
  font-weight: 700;
  opacity: 0.8;
}

.timerDisplay {
  font-size: 80px;
  font-weight: 700;
  padding: 16px 0;
}

@media (min-width: 425px) {
  .timerDisplay {
    font-size: 100px;
    padding: 32px 0;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

@media (min-width: 425px) {
  .controls {
    align-items: center;
    flex-direction: row;
    height: auto;
    justify-content: center;
  }
}

.controls button {
  color: var(--white);
  font-weight: 700;
  padding: 16px 32px;
}

.start {
  background-color: var(--tiffany-blue);
}

.pause {
  background-color: var(--orange-peel);
}

.reset {
  background-color: var(--sizzling-red);
}
