@import-normalize;

:root {
  --base-font-size: 1rem;
  --sizzling-red: hsl(353, 81%, 60%);
  --faded-red: hsl(353, 81%, 60%, 0.1);
  --baby-powder: hsl(100, 100%, 99%, 0.1);
  --rich-black: hsl(207, 95%, 8%, 0.8);
  --rich-black-lighter: hsl(207, 95%, 8%, 0.15);
  --tiffany-blue: hsl(174, 62%, 47%);
  --orange-peel: hsl(35, 100%, 55%);
  --white: hsl(0, 0%, 100%);

  font-size: var(--base-font-size);
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--faded-red);
  color: var(--rich-black);
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
}

a {
  color: var(--rich-black);
  text-decoration: none;
}

button {
  background: var(--faded-red);
  border: none;
  border-radius: 8px;
  color: var(--rich-black);
  cursor: pointer;
  font-size: var(--base-font-size);
  margin: 0;
  padding: 8px 16px;
  transition-duration: 0.4s;
}

button:active {
  transform: translateY(14px);
}

p {
  margin: 0;
  padding: 0;
}
